---
import Section from "./Section.astro";
---

<Section
  title="Estructura"
  p="Se basa en una infraestructura tecnológica sólida que incluye redes de comunicación, dispositivos electrónicos, sistemas de almacenamiento de datos y software. Estos elementos permiten la interconexión global de personas, organizaciones y dispositivos, facilitando la transferencia de información en tiempo real."
  p1="De esta forma, estos elementos interactúan entre sí para facilitar la creación, el acceso y el intercambio de información, transformando la forma en que las personas se relacionan, trabajan, aprenden y se desenvuelven en la sociedad actual."
  color="black"
  id="model-3"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#model-y"
    >
      Volver atrás</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#model-s"
    >
      Siguiente sección</a
    >
  </div>

  <img
    slot="background"
    alt="Estructura"
    class="h-full w-full object-cover object-center"
    src="estr.avif"
    id="bg-image-model3"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  var imageElement = document.querySelector("#bg-image-model3") as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "estr.webp";
  } else {
    imageElement.src = "estr.avif";
  }
</script>
